body {
  font-family: "Open Sans", Helvetica, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 1.42;
  background: #001821;
  -webkit-font-smothing: antialiased;
  -moz-osx-font-smothing: grayscale;
  margin: 0;
}

a {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin-top: 0;
}

* {
 box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

body, html {
  height: 100%;
}

.button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  min-width: 1200px;
}

.main-page-wrapper {
  background: url(/img/elephant.png) center top no-repeat, url(/img/elephant-small.png) right bottom 307px no-repeat;
}

.container {
  margin: 0 auto; 
  width: 1140px;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 600px;
}