.btn {
  border-radius: 35px;
  padding: 16px 30px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btn--color--ginger {
  background: #F5170E;
  padding: 16px 55px;
}

.btn:hover {
  background: #F5170E;
  box-shadow: 0 0 25px 0 rgba(223, 181, 109, .15)
}

.btn--color--red{
  background: #fff;
  color: red;
  font-size: 14px;
  border: 2px solid red;
  border-radius: 35px;
  height: 55px;
}

.btn--color--red:hover {
  background: red;
  color: #fff;
}

.btn--color--grey {
  background: #2B2B2B;
}

.btn--color--grey:hover {
  background: red;
}
