.contacts {
  font-style: normal;
  display: flex;
  flex-direction: column;
}

.contacts__desc {
  color: #9A9A9A;
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
}

.contacts__phone {
  text-decoration: none;
  font-size: 26px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown__link {
  font-size: 13px;
  text-decoration: underline;
  color: #98A4A8;
  display: flex;
  justify-content: flex-end;
}

.dropdown__link:hover {
  color: #ffffff 
}

.dropdown:hover .dropdown__menu {
  left: 0;
  opacity: 1;
}

.dropdown__menu {
  position: absolute;
  background:  #EDEDED;
  border: 1ps solid #EDEDED;
  padding: 14px 10px 12px 15px;
  width: 160px;
  height: 70px;
  top: 100%;
  margin-left: 29px;
  margin-top: 7px;
  opacity: 0;
  transition: opacity .5s;
  left: -99999999px;
  border-radius: 5px;
}

.dropdown__menu:before {
  content: "";
  display: block;
  left: 100px;
  right: 0;
  top: -20px;
  position: absolute; 
  border: 10px solid transparent;
  width: 0px;
  height: 0px;
  border-bottom-color: #EDEDED;
  border-right-width: 10px;
  border-bottom-width: 10px;
  border-top-width: 10px;
}

.dropdown__item {
  color: #1E1F20;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 5px;
}

.dropdown__item-dinner {
  font-weight: 600;
}

