
.reviews {
  column-count: 2;
  column-gap: 37px;
  margin-bottom: 108px;
}

.review__photo {
  margin-right: 17px;
}

.reviews__item {
  margin-bottom: 26px;
}

.review {
  display: inline-flex;
  flex-direction: column;
  padding: 50px 30px;
  background: #F4F5F5;
}

.review__header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.review__user {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #4d76a1;
  margin-bottom: 11px;
}

.review__user:after {
  content: url(/img/feedback/vk-blue.png);
  height: 29px;
}

.avatar {
  width: 140px;
  height: 140px;
  overflow: hidden;
  border-radius: 50%;
}

.review__tags {
  display: flex;
  align-items: flex-start;
}

.tag {
  font-size: 13px;
  color: #333;
  padding: 8px 16px;
  border-radius: 50px;
  background: #e7e7e7;
}

.tag--bg--green {
  background: #c7e9d0;
}

.review__title {
  font-size: 30px;
  color: #202123;
  font-weight: bold;
  margin-bottom: 31px;
}

.review__content-text {
  margin-bottom: 50px;
}

.review__date {
  font-size: 14px;
  color: #202123;
  font-weight: bold;
}

.page--content--feedback {
  background: #fff;
  color: #303030;
  padding: 99px 0 92px;
}

