.form__row {
  display: flex;
  margin-bottom: 32px;
}

.form__input {
  flex: 1;
  margin-right: 30px;
  border-radius: 4px;
  border: none;
  background: #fff;
  padding: 22px 30px;
  font-size: 18px;
  color: #1A1B1E;  
}

.form__input::placeholder {
  color: #666;
}

.form__input:last-child {
  margin-right: 0px;
}

.form__input-textarea {
  height: 232px;
}

.form_controls {
  display: flex;
  margin-bottom: 35px;
}

.form__controls-title {
  width: 35%;
  margin-left: 5px;
  margin-right: 35px;
  font-size: 19px;
}

.controls {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.controls__item {
  margin-bottom: 10px;
  margin-right: 10px;
}

.controls__elem {
  cursor: pointer;
}

.controls__checkbox:checked ~ .controls__tag {
  background: #c7e9d0;
}

.controls__checkbox {
  display: none;
}

.form__btns {
  display: flex;
  justify-content: flex-end;
}

.form__btn {
  margin-right: 20px;
  padding: 16px 36px;
}

.form__btn:last-child {
  margin-right: 0;
}