.hero {
  margin-bottom: 175px;
}

.hero__text-section {
  width: 49%;
  margin-bottom: 67px;
}

.hero__title {
  font-size: 72px;
  font-weight: bold;
  line-height: 1.33;
  margin-bottom: 33px;
}

.hero__subtitle {
  font-size: 18px;
  color: #fff;
  margin-bottom: 30px;
}