body {
  font-family: "Open Sans", Helvetica, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 1.42;
  background: #001821;
  -webkit-font-smothing: antialiased;
  -moz-osx-font-smothing: grayscale;
  margin: 0;
}

a {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin-top: 0;
}

* {
 box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

body, html {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  min-width: 1200px;
}

.main-page-wrapper {
  background: url(../../img/elephant.png) center top no-repeat, url(../../img/elephant-small.png) right bottom 307px no-repeat;
}

.container {
  margin: 0 auto; 
  width: 1140px;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 600px;
}

.header {
  padding-top: 33px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__col {
  display: flex;
  align-items: center;
}

.header__col--align-right {
  justify-content: flex-end;
}

.logo {
  display: block;
  margin-right: 100px;
}

.menu__list {
  display: flex;
}
.menu__item {
  vertical-align: middle;
  margin-right: 50px;
}

.menu__item--active .menu__link {
color: #fff;
}

.menu__item--active .menu__link:hover {
  text-decoration: underline;
}

.menu__item:last-child {
  margin: 0;
}

.menu__link {
  font-size: 14px;
  text-decoration: none;
}

.menu__link:hover {
  color: #fff;
}

.contacts__desc {
  color: #9A9A9A;
  font-size: 11px;
}

.contacts__phone {
  text-decoration: none;
  font-size: 26px;
}

.contacts__dropdown-title {
  font-size: 13px;
  text-decoration: underline;
  color: #fff;
  display: flex;
  justify-content: flex-end;
}

.hero {
  margin-bottom: 246px;
}

.hero_text-section {
  width: 49%;
}

.hero__title {
  font-size: 72px;
  font-weight: bold;
  line-height: 1.33;
  margin-bottom: 30px;
}

.hero__subtitle {
  font-size: 18px;
  color: #fff;
  margin-bottom: 30px;
}

.btn {
  border-radius: 35px;
  padding: 16px 30px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btn--color--ginger {
background: #F5170E;
}

.btn:hover {
  background: #F5170E;
  box-shadow: 0 0 25px 0 rgba(223, 181, 109, .15)
}

.btn--color--red{
  background: #fff;
  color: red;
  font-size: 14px;
  border: 2px solid red;
  border-radius: 35px;
  height: 55px;
}

.btn--color--red:hover {
  background: red;
  color: #fff;
}

.section {
  margin-bottom: 123px;
}

.section__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 51px;
  display: flex;
  align-items: center;
}

.flame {
  margin-left: 10px;
}

.offers {
  display: flex;
  justify-content: space-between;
}

.offers__item {
  background: #fff;
  border-radius: 4px;
  width: calc(100%/3 - 18px);
  color: #010001;
  vertical-align: top;
  display: flex;
  flex-wrap: wrap;
}

.offers__item:last-child {
  margin-right: 0;
}

.offers__header {
  height: 144px;
}

.offers__content {
  padding: 33px 22px 26px 22px ;
  color: #010001;
  
}

.offers__title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 21px;
}

.offers__features{
 margin-bottom: 23px;
 display: flex;

}

.offers__feature {
  margin-right: 28px;
  display: flex;
  align-items: center;
}

.offers__feature:last-child {
  margin-right: 0;
}

.offers__feature-icon {
margin-right: 10px;
}

.offers__feature-text {
  font-size: 16px;
}

.offers__text {
font-size: 14px;
line-height: 21px;
margin-bottom: 24px;
}

.news {
  margin-bottom: 52px;
  display: flex;
  justify-content: space-between;
}

.news__item {
  width: 555px;
 height: 392px;
 margin-right: 12px;
}

.single-news {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  margin-right: 12px;
  display: flex;
}

.news__item:last-child{
margin-right: 0;
}

.news__cover {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .8;
}

.single-news__text-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px 30px;
  min-height: 157px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.single-news__date {
  font-size: 14px;
  margin-bottom: 18px;
}

.single-news__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 2px;
}

.pager {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pager--theme--light {
  color: black;
}

.pager--theme--light  .pager__item--active .pager__link {
  color: #fff;
  background: red;
}

.pager--theme--light .pager__link:hover {
  color: #fff;
  background: red;
}

.pager__display {
  margin-right: 26PX;
}

.pager__list {
  display: flex;
  align-items: center;
}

.pager__item {
  text-align: center;
}

.pager__item--active .pager__link {
  background: #FFFFFF;
  color: #F5170E;
}

.pager__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: bold;
  line-height: 32px;
  color: #FFFFFF;
}

.pager__link-service {
  color: #000000;
}

.section__about {
  margin-bottom: 80px;
}

.about {
  display: flex;
}

.about:before, .about__desc {
  border-radius: 5px;
}

.about:before {
  content: "";
  width: 488px;
  height: 502px;
  background: url(../../img/gates.png) center center / cover no-repeat;
  display: flex;
}

.about__desc {
  background: url(../../img/mountains.png);
  padding: 87px 80px 50px;
  max-width: 780px;
  margin-left: -142px;
  margin-top: 97px;
  color: #010001;
}

.about__title {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 40px;
}

.about__desc--text {
  margin-bottom: 85px;
}

.about__desc-text p {
  margin-bottom: 20px; 
}

.about__desc-text p:last-child {
margin-bottom: 0;
}  

.footer-container {
  margin-top: auto;
}

.footer-container__section {
  height: 152px;
}

.footer-container__content {
  border-top: 1px solid #192f37;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__col {
  display: flex;
  align-items: center;
}

.footer__col--align--right {
  align-items: flex-end;
  display: flex;
}

.footer__socials {
margin-right: 74px;
display: flex;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
  margin-right: 5px;
}

.socials__item--icon--telegram .socials__link {
  background-image: url(../../img/telegram.png);
}

.socials__item--icon--telegram .socials__link:hover {
  background-image: url(../../img/telegram.png);
}

.socials__item--icon--vk .socials__link {
  background-image: url(../../img/vk.png);
}

.socials__item--icon--vk .socials__link:hover {
  background-image: url(../../img/vk.png);
}

.socials__item--icon--fb .socials__link {
  background-image: url(../../img/f.png);
}

.socials__item--icon--fb .socials__link:hover {
  background-image: url(../../img/f.png);
}

.socials__item--icon--insta .socials__link {
  background-image: url(../../img/in.png);
}

.socials__item--icon--insta .socials__link:hover {
  background-image: url(../../img/in.png);
}


/* РЈСЃР»СѓРіРё */

.top-line {
  min-height: 415px;
  background: url(../../img/headline.png) right 20% top no-repeat;
  display: flex;
  flex-direction: column;
  padding-bottom: 23.5px;
}

.top-line__container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.page-title {
  font-size: 72px;
  line-height: 1;
  font-weight: bold;
}

.breadcrumbs__list {
  display: flex;
  align-items: center;
}


.breadcrumbs__item--active .breadcrumbs__link {
  color: #9A9A9A;
  text-decoration: underline;
}

.breadcrumbs__item:after {
  content: "/";
  color: #9A9A9A;
  margin-right: 3px;
}

.breadcrumbs__item:last-child:after {
  display: none;
}

.breadcrumbs__link {
   color: #9A9A9A;
   font-size: 14px;
}

.page-content {
background: #fff;
color: #303030;
padding: 40px 0;
}

.services {
  margin-bottom: 65px;
}

.service {
  display: flex;
  padding: 58px 43px;
  text-decoration: none;
}

.service:hover {
  background: #f4f5f5;
}

.service:hover .service__btn {
  background: red;
  color: #fff;
}

.service__img {
  width: 30%;
  margin-right: 7%;
}

.service__content  {
  flex: 1;
}

.service__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 22px;
  color: #000000;
}

.service__decs {
  line-height: 1.7;
  margin-bottom: 30px;
}

.inner-section {
  background: #fff;
  color: #202123;
  padding: 95px 0;
}

.inner-section--bg--grey {
  background: #f4f5f5;
}

.inner-section__title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 75px;
}

.partners {
  display: flex;
  flex-wrap: wrap;
}

.partners__item {
  margin-left: 46px;
}

.partners__item:nth-child(4n +  1) {
  margin-left: 0;
}

.partners__link {
  text-decoration: none;
  display: flex;
  width: 250px;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.inner-footer__container {
  padding: 45px 0;
}

.inner-footer {
  margin-top: auto;
}






























