@import url(blocks/body.css);
@import url(blocks/header.css);
@import url(blocks/logo.css);
@import url(blocks/contacts.css);
@import url(blocks/menu.css);
@import url(blocks/hero.css);
@import url(blocks/content.css);
@import url(blocks/news.css);
@import url(blocks/pager.css);
@import url(blocks/btn.css);
@import url(blocks/about.css);
@import url(blocks/footer.css);
@import url(blocks/socials.css);
@import url(blocks/services.css);
@import url(blocks/partners.css);
@import url(blocks/breadcrumbs.css);
@import url(blocks/feedback.css);
@import url(blocks/separator.css);
@import url(blocks/form.css);
@import url(blocks/preview.css);
