body {
  font-family: "Open Sans", Helvetica, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 1.42;
  background: #001821;
  -webkit-font-smothing: antialiased;
  -moz-osx-font-smothing: grayscale;
  margin: 0;
}

a {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin-top: 0;
}

* {
 box-sizing: border-box;
}

.main-page-wrapper {
  background: url(../../img/elephant.png) center top no-repeat, url(../../img/elephant-small.png) right bottom 307px no-repeat;
}

.container {
  margin: 0 auto; 
  width: 1140px;
}

.header {
  height: 106px;
  position: relative;
  margin-bottom: 95px;
}

.logo {
  display: block;
  position: absolute;
  top: 28px;
  left: 0;
}

.menu {
  position: absolute;
  top: 40px;
  left: 161px;
}

.contacts {
  position: absolute;
  top: 28px;
  right: 3px;
  font-style: normal;
  text-align: right;
}

.contacts__desc {
  color: #9A9A9A;
  font-size: 11px;
}

.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
}

.menu__item--active .menu__link {
color: #fff;
}

.menu__item:last-child {
  margin: 0;
}

.menu__link {
  font-size: 14px;
  text-decoration: none;
}

.menu__link:hover {
  color: #fff;
}

.contacts__phone {
  text-decoration: none;
  font-size: 26px;
}

.contacts__dropdown-title {
  font-size: 13px;
  text-decoration: underline;
  color: #fff;
}

.hero {
  margin-bottom: 246px;
}

.hero_text-section {
  width: 511px;
}

.hero__title {
  font-size: 72px;
  font-weight: bold;
  line-height: 1.33;
  margin-bottom: 30px;
}

.hero__subtitle {
  font-size: 18px;
  color: #fff;
  margin-bottom: 30px;
}

.btn {
  border-radius: 35px;
  padding: 16px 30px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btn--color--ginger {
background: #F5170E;
}

.btn:hover {
  background: #F5170E;
  box-shadow: 0 0 25px 0 rgba(223, 181, 109, .15)
}

.btn--color--red{
  background: #fff;
  color: red;
  font-size: 14px;
  border: 2px solid red;
  border-radius: 35px;
  height: 55px;
}

.btn--color--red:hover {
  background: red;
  color: #fff;
}

.section {
  margin-bottom: 123px;
}

.section__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 51px;
}

.flame {
  margin-left: 10px;
}

.offers__item {
  background: #fff;
  border-radius: 4px;
  display: inline-block;
  margin-right: 16px;
  width: 362px;
  color: #010001;
  vertical-align: top;
}

.offers__item:last-child {
  margin-right: 0;
}

.offers__header {
  height: 144px;
  position: relative;

}

.offers__img{
width: 100%;
height: 100%;
object-fit: cover;
}

.offers__content {
  padding: 33px 22px 26px 22px ;
  color: #010001;
}

.offers__title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 21px;
}

.offers__features{
 margin-bottom: 23px;
}

.offers__feature {
  display: inline-block;
  vertical-align: middle;
  margin-right: 28px;
}

.offers__feature:last-child {
  margin-right: 0;
}

.offers__feature-icon {
display: inline-block;
vertical-align: middle;
margin-right: 10px;
}

.offers__feature-text {
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
}

.offers__text {
font-size: 14px;
line-height: 21px;
margin-bottom: 24px;
}

.news {
  margin-bottom: 52px;
}

.news__item {
  width: 555px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  margin-right: 12px;
}

.news__item:last-child{
margin-right: 0;
}

.news__cover {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .8;
}

.news__text-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px 30px;
  min-height: 157px;
}

.news__date {
  font-size: 14px;
  margin-bottom: 18px;
}

.news__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 2px;
}

.pager {
  text-align: center;
}

.pager__display, .pager__list {
  display: inline-block;
  vertical-align: middle;
}

.pager__display {
  margin-right: 26PX;
}

.pager__item {
  display: inline-block;
  vertical-align: middle;
}

.pager__item--active .pager__link {
  background: #FFFFFF;
  color: #F5170E;
}

.pager__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: bold;
  line-height: 32px;
  color: #FFFFFF;
}

.section__about {
  margin-bottom: 80px;
}

.about:before, .about__desc {
  display: inline-block;
  vertical-align: top;
  border-radius: 5px;
}

.about:before {
  content: "";
  width: 488px;
  height: 502px;
  background: url(../../img/gates.png) center center / cover no-repeat;
}

.about__desc {
  background: url(../../img/mountains.png);
  padding: 87px 80px 50px;
  width: 780px;
  margin-left: -142px;
  margin-top: 97px;
  color: #010001;
}

.about__title {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 40px;
}

.about__desc--text {
  margin-bottom: 85px;
}

.about__desc-text p {
  margin-bottom: 20px; 
}

.about__desc-text p:last-child {
margin-bottom: 0;
}  

.footer-container__content {
  border-top: 1px solid #192f37;
}

.footer {
  height: 152px;
  position: relative;
}

.footer__logo {
top: 45px;
}

.footer__menu {
  top: 59px;
}

.footer__contacts {
  top: 42px;
}

.socials {
  position: absolute;
  top: 49px;
  right: 300px;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}

.socials__item--icon--telegram .socials__link {
  background-image: url(../../img/telegram.png);
}

.socials__item--icon--telegram .socials__link:hover {
  background-image: url(../../img/telegram.png);
}

.socials__item--icon--vk .socials__link {
  background-image: url(../../img/vk.png);
}

.socials__item--icon--vk .socials__link:hover {
  background-image: url(../../img/vk.png);
}

.socials__item--icon--fb .socials__link {
  background-image: url(../../img/f.png);
}

.socials__item--icon--fb .socials__link:hover {
  background-image: url(../../img/f.png);
}

.socials__item--icon--insta .socials__link {
  background-image: url(../../img/in.png);
}

.socials__item--icon--insta .socials__link:hover {
  background-image: url(../../img/in.png);
}
