body {
  font-family: "Opan Sans", Helvetica, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 1.42;
  background: #001821;
  -webkit-font-smothing: antialiased;
  -moz-osx-font-smothing: grayscale;
}

a {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin-top: 0;

}

* {
 box-sizing: border-box;
}

.main-page-wrapper {
  background: url (../../img/elephant-small.png) center top no-repeat, url  (../../img/elephant-small.png) right bottom 307px no-repeat;
}

.container {
  margin: 0 auto; 
  width: 1140px;
}

.header {
  height: 106px;
  position: relative;
  margin-bottom: 95px;
}

.logo {
  display: block;
  position: absolute;
  top: 23px;
  left: 16px;
}

.menu {
  position: absolute;
  top: 34px;
  left: 185px;
}

.contacts {
  position: absolute;
  top: 20px;
  right: 3px;
  font-style: normal;
  text-align: right;
}

.contacts__desc {
  color: #9A9A9A;
  font-size: 11px;
}

.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
}

.menu__item--active .menu__link {
color: #fff;
}

.menu__item:last-child {
  margin: 0;
}

.menu__link {
  font-size: 14px;
  text-decoration: none;
}

.menu__link:hover {
  color: #fff;
}

.contacts__phone {
  text-decoration: none;
  font-size: 26px;
  margin-bottom: 4px;
}

.contacts__dropdown-title {
  font-size: 13px;
  text-decoration: underline;
  color: #fff;
}

.hero_text-section {
  width: 511px;
  height: 333px;
  margin-bottom: 246px;
}

.hero__title {
  font-size: 72px;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 25px;
}

.hero__subtitle {
  font-size: 18px;
  color: #fff;
  margin-bottom: 30px;
}

.btn {
  border-radius: 35px;
  padding: 16px 29px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btn--color--ginger {
background: #F5170E;
margin-bottom: 242px
}

.btn:hover {
  background: #F5170E;
  box-shadow: 0 0 25px 0 rgba(223, 181, 109, .15)
}

.btn--color--red{
  background: #fff;
  color: red;
  font-size: 14px;
  border: 2px solid red;
  border-radius: 35px;
  position: absolute;
  width: 135px;
  height: 55px;
  top: 1243px;
  
}

.btn--color--red:hover {
  background: red;
  color: #fff;
}

.section {
  margin-bottom: 137px;
}

.section__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 51px;
  width: 273px;
}

.flame {
  position: absolute;
  left: 675px;
  top: 800px;
}

.offers__item {
  min-height: 470px;
  background: #fff;
  border-radius: 4px;
  display: inline-block;
  margin-right: 16px;
  width: 362px;
  color: #010001;
}

.offers__item:last-child {
  margin-right: 0;
}

.offers__header {
  min-height: 162px;
  margin-bottom: 33px;
  position: relative;

}

.offers__img{
position: absolute;
}

.offers__content {
  padding: 36px 30px;
  color: #010001;
  ;
  top: 1100px;
}

.offers__title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 30px;
  top: 1045px;
  position: absolute;
}

.offers__features{
  position: absolute;
  width: 271px;
  height: 26px;
  top: 1106px;
}

.offers__feature {
  display: inline-block;
  vertical-align: top;
  width: 115px;
  margin-right: 30px;
}

.offers__feature:last-child {
  margin-right: 0;
}

.offers__feature-text {
  font-size: 12px;
  margin-bottom: 25px;
}

.offers__text {
  font-size: 12px;
  margin-bottom: 42px;
  position: absolute;
  width: 324px;
  height: 63px;
  top: 1155.5px;
}

.news {
  margin-bottom: 55px;
}

.news__item {
  width: 555px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}

.news__cover {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .3;
}

.news__text-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 25px 30px;
  min-height: 140px;
}

.news__data {
  font-size: 14px;
  margin-bottom: 18px;
  text-transform: lowercase;
}

.news__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.pager {
  text-align: center;
}

.pager__display, .pager__list {
  display: inline-block;
  vertical-align: middle;
}

.pager__display {
  margin-right: 26PX;
}

.pager__item {
  display: inline-block;
  vertical-align: middle;
}

.pager__item--active .pager__link {
  background: #FFFFFF;
}

.pager__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: bold;
  line-height: 32px;
  color: red;
}

.about:before, .about__desc {
  display: inline-block;
  vertical-align: top;
  border-radius: 5px;
}

.about:before {
  content: "";
  width: 488px;
  height: 502px;
  background: url(img/gates.png) center center / cover no-repeat;
}

.about__desc {
  background: url(img/mountains.png);
  padding: 80px 98px;
  width: 780px;
  margin-left: -142px;
  margin-top: 166px;
  height: 455px;
  color: #010001;
}

.about__title {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 40px;
}

.about__desc--text {
  margin-bottom: 61px;
}

.about__desc-text p {
  margin-bottom: 20px; 
}

.about__desc-text p:last-child {
margin-bottom: 0;
}  

.footer-container__content {
  border-top: 1px solid #FFFFFF;
}

.footer {
  height: 152px;
  position: relative;
}

.socials {
  position: absolute;
  top: 30px;
  right: 300px;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}

.socials__item--icon--telegram .socials__link {
  background-image: url(img/telegram.png);
}

.socials__item--icon--telegram .socials__link:hover {
  background-image: url(img/telegram.png);
}

.socials__item--icon--vk .socials__link {
  background-image: url(img/vk.png);
}

.socials__item--icon--vk .socials__link:hover {
  background-image: url(img/vk.png);
}

.socials__item--icon--fb .socials__link {
  background-image: url(img/f.png);
}

.socials__item--icon--fb .socials__link:hover {
  background-image: url(img/f.png);
}

.socials__item--icon--insta .socials__link {
  background-image: url(img/in.png);
}

.socials__item--icon--insta .socials__link:hover {
  background-image: url(img/in.png);
}
