.news {
  margin-bottom: 52px;
  display: flex;
  justify-content: space-between;
}

.news__item {
  width: 555px;
 height: 392px;
 margin-right: 12px;
}

.single-news {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  margin-right: 12px;
  display: flex;
}

.news__item:last-child{
margin-right: 0;
}

.news__cover {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .8;
}

.single-news__text-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px 30px;
  min-height: 157px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.single-news__date {
  font-size: 14px;
  margin-bottom: 18px;
}

.single-news__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 2px;
}