.inner-section {
  background: #fff;
  color: #202123;
  padding: 95px 0;
}

.inner-section--bg--grey {
  background: #f4f5f5;
}

.inner-section__title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 75px;
}

.partners {
  display: flex;
  flex-wrap: wrap;
}

.partners__item {
  margin-left: 46px;
}

.partners__item:nth-child(4n +  1) {
  margin-left: 0;
}

.partners__link {
  text-decoration: none;
  display: flex;
  width: 250px;
  height: 100px;
  align-items: center;
  justify-content: center;
}