.inner-section {
  background: #fff;
  color: #202123;
  padding: 78px 0;
}

.inner-section--bg--grey {
  background: #f4f5f5;
}

.inner-section__title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 56px;
}

.inner-section__title-form {
  margin-bottom: 46px;
}
.partners {
  display: flex;
  flex-wrap: wrap;
}

.partners__item {
  margin-left: 56px;
  flex-grow: 1;
}

.partners__item:nth-child(4n +  1) {
  margin-left: 0;
}

.partners__link {
  text-decoration: none;
  display: flex;
  min-width: 210px;
  max-width: 294px;
  height: 121px;
  align-items: center;
}