.separator {
  background: url(../../img/feedback/couple.png) right 30% bottom  no-repeat,
  url(../../img/feedback/Rectangle.png);
  min-height: 363px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  color: #ffffff;
}

.separator_content {
  max-width: 48%;
}

.separator__title {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.3;
}
