.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
  margin-right: 5px;
}

.socials__item--icon--telegram .socials__link {
  background-image: url(../../img/telegram.png);
}

.socials__item--icon--telegram .socials__link:hover {
  background-image: url(../../img/telegram.png);
}

.socials__item--icon--vk .socials__link {
  background-image: url(../../img/vk.png);
}

.socials__item--icon--vk .socials__link:hover {
  background-image: url(../../img/vk.png);
}

.socials__item--icon--fb .socials__link {
  background-image: url(../../img/f.png);
}

.socials__item--icon--fb .socials__link:hover {
  background-image: url(../../img/f.png);
}

.socials__item--icon--insta .socials__link {
  background-image: url(../../img/in.png);
}

.socials__item--icon--insta .socials__link:hover {
  background-image: url(../../img/in.png);
}
